* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Calibri, Verdana;
}

html, body {
    height: auto;
}

body.preload * {
    animation-duration: 0s !important;
}

.container {
    position: relative;
    /*max-width: 1280px;*/
    margin: 0 auto;
    padding-bottom: 180px;
    height: 100%;
    min-height: -webkit-fill-available;
    min-height: 100vh;
}

.background {
    height: 100%;
    background-image: url('../images/pattern-food2.png');
    background-repeat: no-repeat;
    background-attachment:fixed ;
}

.button:hover {
    animation: contrastIn .1s ease-in-out forwards;
}

/*HEADER*/
header {
    text-align: center;
}

header .logo-wrapper{
    display: block;
}

header img.logo {
    height: 100px;
}

header span.slogan {
    font-size: 15px;
    display: inline-block;
    font-weight: bold;
    color: #FF7A00;
}
/*HEADER*/


/*NAV*/
nav {
    margin-top: 35px;
}

nav ul.menu {
    text-align: center;
    padding: 0 5px;
}

nav ul.menu span#span-burgers {
    display: inline-block;
    opacity: 0;
    color: #FF7A00;
    width: 100%;
}

nav ul.menu span#span-dishes {
    display: inline-block;
    opacity: 0;
    color: #FF7A00;
    width: 100%;
}

nav ul.menu span#span-combos {
    display: inline-block;
    opacity: 0;
    color: #FF7A00;
    width: 100%;
}

nav ul.menu span#span-promotions {
    display: inline-block;
    opacity: 0;
    color: #FF7A00;
    width: 100%;
}

nav ul li {
    display: inline-block;
    text-align: center;
    width: 49%;
    margin-bottom: 30px;
}


nav ul li:last-child {
    margin-right: 0px !important;
}

nav .button {
    background-color: #2E2E2E;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    cursor: pointer;
    animation: contrastOut .1s ease-in-out forwards;
}

nav img {
    width: 50px;
    height: 50px;
    display: inline;
    padding: 1px;
}
/*NAV*/

/*MAIN*/
main {
    margin: 0 6px 10px 6px;
    border-radius: 5px;
}

section#burger-main {
    display: none;
    max-width: 487px;
    margin: 0 auto;
}

main div.box-wrapper {
    background-color: #2E2E2E;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

main div.img-wrapper {
    text-align: center;
}

main img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 3px;
}

main h3 {
    color: #FF7A00;
    display: inline-block;
    background-color: black;
    border-radius: 5px;
    padding: 0 3px;
}

main span.price {
    color: #FF7A00;
    background-color: black;
    border-radius: 5px;
    padding: 0 3px;
}

main p {
    color: #FF7A00;
}

main div.name-price-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
}
/*MAIN*/

/*FOOTER*/
footer {
    background-color: rgb(29, 29, 29);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.8;
    padding: 10px;
    border-top: 1px solid #FF7A00;
    text-align: center;
}

footer span {
    color: #FF7A00;
    display: block;
    margin-bottom: 17px;
}

footer a {
    display: inline-block;
    margin-bottom: 25px;
    margin-right: 40px;
}

footer a:last-child {
    margin-right: 0;
}

div.footer-row {
    color: white;
    background-color: #FF7A00;
    width: 100%;
    padding: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}
/*FOOTER*/


/*ANIMATION*/
@keyframes contrastIn {
    from {
        transform: scale(1.0);
    }

    to {
        transform: scale(1.1);
    }
}

@keyframes contrastOut {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1.0);
    }
}
/*ANIMATION*/


/*RESPONSIVE*/
@media only screen and (min-width: 400px) {
    nav img{
        height: 70px;
        width: 70px;
    }
}
/*RESPONSIVE*/